.product-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    border: 1px solid #e0e0e0; 
}

.product-card:hover {
    transform: translateY(-5px);
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important; 
}

.titulo {
    color: #0c0501;
    font-weight: 600;
}