:root {
    --color-principal: #76b900;
    --color-secundario: #1a1a1a;
    --color-fondo: #f8f9fa;
    --color-texto: #333;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.badge-custom {
    background-color: var(--color-principal) !important;
    color: #fff !important;
}
.btn-primary {
    background-color: var(--color-principal) !important;
    border-color: var(--color-principal) !important;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-hover-verde:hover {
    background-color: #7cb314 !important;
    border-color: #7cb314 !important;
    color: white !important;
}

.link-custom {
    color: #ffffff !important;
    
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; 
    background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    background-size: 200% 100%;
    animation: lucesRGB 4s linear infinite;
}


@keyframes lucesRGB {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}