:root {
    --color-principal: #76b900;
    --color-secundario: #1a1a1a;
    --color-fondo: #f8f9fa;
    --color-texto: #333;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.badge-custom {
    background-color: var(--color-principal) !important;
    color: #fff !important;
}
.btn-primary {
    background-color: var(--color-principal) !important;
    border-color: var(--color-principal) !important;
}

.btn-primary:hover {
    opacity: 0.9;
}

