html {
    margin: 0;
    padding: 0
}
:root {
    --color-principal: #76b900;
    --color-secundario: #1a1a1a;
    --color-fondo: #f8f9fa;
    --color-texto: #333;
}

body {
    margin: 0;
    background-image: url('/setupBNW.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-texto);
}

.badge-custom {
    background-color: var(--color-principal) !important;
    color: #fff !important;
}
.btn-primary {
    background-color: var(--color-principal) !important;
    border-color: var(--color-principal) !important;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-hover-verde:hover {
    background-color: #7cb314 !important;
    border-color: #7cb314 !important;
    color: white !important;
}

.link-custom {
    color: #ffffff !important;
    
}
.productoNombre{
    color:black;
    font-weight: bold;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5px; 
    background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
    background-size: 200% 100%;
    animation: lucesRGB 6s linear infinite;
}
.texto{
    color:lightgreen
}

.promo{
    font-size: 24px;
}

.promoBancaria{
    background-color: transparent;
    transition: transform 0.2s ease;
  
}
.promoBancaria:hover{
    transform: scale(1.05);
}
.bienvenida{
    color: lightgreen;
    font-size: 48px;
    font-weight: bold;
}
.contactanos{
    border-style: none;
    overflow: hidden;   
    background-color: transparent ;
    color: lightgreen;
}

.encontranos{
    background-color: transparent;
}
@keyframes lucesRGB {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
}